# Go binaries
solutions/aoc-25-01/aoc-25-01
solutions/aoc-25-02/aoc-25-02
solutions/aoc-25-04/aoc-25-04
solutions/aoc-25-04/main

# Compiled JS
solutions/**/*.js

# VS Code
.vscode/

# Dependencies
node_modules/

# Compiled output
dist/
